{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="hero-banner">
    <div class="container" style="color: black;">
      <h1>Quiz and Conquer: Ace Your Driving Test </h1>
      <p>
        Welcome to the Ultimate Driving Test Quiz! Put your knowledge of road rules, traffic signs, and driving etiquette to the test. Get ready to challenge yourself with a series of interactive questions designed to simulate the real driving test experience. Whether you're a learner driver or simply want to brush up on your road knowledge, this quiz app is the perfect tool to help you prepare and boost your confidence. Are you ready to embark on this exciting journey towards driving success? Let's start the engines and dive into the world of driving knowledge!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        {% for category in categories %}
        <div class="col-md-6">
          <div class="card" style="margin: 5px;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <h5 class="card-header">{{ category }}</h5>
            <div class="card-body" style="height: 150px;">
              <p class="card-text" style="color: black; text-align: justify;">{{ category.description }}</p>
             
            </div>
            <div class="card-footer">
              <a href="{% url 'index' category.id %}" class="btn " style="background-color: #009688;">View Questions</a>

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4" style="display: flex;">
      <div class="ad-rectangle" style="flex-grow: 1; background-color: #f0f0f0; display: flex; justify-content: center; align-items: center;">
        <!-- Content of the ad rectangle -->
        <p style="color: black;">Your Ad here..........</p>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}
