{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        {% for category in categories %}
        <div class="col-md-6">
          <div class="card" style="margin: 5px;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <h5 class="card-header">{{ category }}</h5>
            <div class="card-body" style="height: 150px;">
              <p class="card-text" style="color: black;">{{ category.description }}</p>
             
            </div>
            <div class="card-footer">
              <a href="{% url 'index' category.id %}" class="btn" style="background-color: #009688;">View Questions</a>

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
{% endblock %}
